*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgba(243, 156, 18, 0.7);
}
/*hero image from: https://gist.github.com/adamdehaven/dceabb07450295fec6fc*/
.bgimage {
    width:100%;
    height:500px;
    background: url('https://media.istockphoto.com/photos/happy-traveler-waiting-for-the-flight-in-airport-picture-id639318992?k=6&m=639318992&s=612x612&w=0&h=tGEGNvcavlluFPY7nvDRExjBWL6IyQ50NI8SS-34GgE=');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
.bgimage h1 {
    color:ivory;
    text-shadow:2px 2px black;
    text-align: center;
    margin-top: 200px;
}
/* <!--from: https://codepen.io/gungorbudak/pen/ooKNpz--> */
.has-search .form-control-feedback {
    position: absolute;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    pointer-events: none;
    color: #aaa;
}
.col-md-3 .form-control-feedback {
    position: absolute;
    display: block;
    text-align: center;
    width: 2.375rem;
    height: 2.375rem;
    margin-left: 5px;
    line-height: 2.375rem;
    pointer-events: none;
    color: #aaa;
}
/* div.form-group{
    text-align: center;
    margin-left: 300px;
} */
/* input{
    text-align: center;
} */
input, select{ width: 400px; text-align-last:center; }
